[Desktop Entry]
Name=Gusto Video to Image Conversion
_Comment=A program to convert video to images
TryExec=gusto
Exec=gusto
Icon=/usr/share/pixmaps/gusto/gusto.png
Terminal=false
Type=Application
Keywords=video;conversion;image;
Categories=Video;Image;
StartupNotify=true
